.content_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 auto 70px auto;
    width: 90%;
}

@media screen and (max-width: 1070px) {
    .content_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 870px) {
    .content_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 570px) {
    .content_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: fit-content;
    }
}