nav {
    margin: 10px 20px 10px 0;
    display: flex;
}

.navigation {
    display: inline;
    flex: 50%;
}

.navigation .item {
    display: inline;
    margin: 0 10px 0 0;
    padding: 3px;
}

.navigation .brand {
    font-size: 1.1rem;
    font-weight: bold;
}

.navigation .link {
    color: #aaa;
    text-decoration: none;
}

.nav_actions .link {
    color: #aaa;
    text-decoration: none;
}

.navigation .link.active {
    color: white;
}

.nav_actions {
    display: inline;
}

.nav_actions .item {
    display: inline;
    margin: 0 10px 0 0;
    padding: 3px;
}