.player {
    position: fixed;
    bottom: 0%;
    width: calc(100vw - 40px);
    padding: 20px;
    z-index: 5;
    height: 40px;
    background-color: #272727;
    overflow: hidden;
}

.play_info {
    position: absolute;
    display: flex;
    align-items: center;
}

.play_progress {
    display: block;
    background:  rgba(104,9,121,1);
    height: 5px;
    transition: width 0.1s linear;
    width: 100%;
    margin: -20px 0 10px -20px;
}

.player button {
    padding: 10px;
    background-color: #00000000;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.player h5 {
    margin: 0 10px;
    display: inline;
}

.player button:hover {
    transform: scale(1.1);
}

.player button#heart:hover {
    color: #c84a4a;
    fill: #c84a4a;
}

.player_song_art {
    margin-top: -5px;
    margin-bottom: -5px;
    width: 55px;
    height: 55px;
}

#heart.saved {
    color: #c84a4a;
  }