.carousel {
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel .scroll_window {
    width: 90%;
    margin: 0 auto -16px auto;
    display: grid;
    gap: 10px;
    grid-auto-columns: calc(4.1);
    grid-auto-flow: column;
    grid-template-rows: repeat(1,auto);
    scroll-padding: 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow: auto;
    overscroll-behavior-x: none;
    padding-top: 10px;
  }
  
  .carousel .scroll_window div {
    margin-right: 10px;
    margin-bottom: 10px;
    scroll-snap-align: none center;
  }
  
  .carousel .nav_arrow.left {
    top: 0;
    left: 1%;
    height: 18vw;
  }
  
  .carousel .nav_arrow.right {
    top: 0;
    right: 1%;
    height: 18vw;
  }
  
  .card {
    width: 250px;
    height: 350px;
    position: relative;
  }

  .card .content {
    position: absolute;
    z-index: 1;
  }

  .card .content .art {
    transition: transform 0.2s ease;
  }

  .card:hover .content .art {
    transform: rotateX(-10deg) scale(1.05);
  }

  .card:hover .background {
    transform: translateY(5px) scale(1.05);
  }

  .card .background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 250px;
    object-fit: cover;
    filter: blur(5px);
    transition: transform 0.2s ease;
  }
  
  .nav_arrow {
    position: absolute;
    width: 40px;
    opacity: 0.6;
    cursor: pointer;
  }
  
  .nav_arrow:hover {
    opacity: 1;
  }

  .play_button {
    position: absolute;
    top: 225px;
    left: 2%;
  }
  