.carousel {
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel .scroll_window {
    width: 90%;
    margin: 0 auto -16px auto;
    display: grid;
    gap: 10px;
    grid-auto-columns: calc(4.1);
    grid-auto-flow: column;
    grid-template-rows: repeat(1,auto);
    scroll-padding: 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow: auto;
    overscroll-behavior-x: none;
    padding-top: 10px;
  }
  
  .carousel .scroll_window div {
    margin-right: 10px;
    margin-bottom: 10px;
    scroll-snap-align: none center;
  }
  
  .carousel .nav_arrow.left {
    top: 0;
    left: 1%;
    height: 18vw;
  }
  
  .carousel .nav_arrow.right {
    top: 0;
    right: 1%;
    height: 18vw;
  }
  
  .card {
    width: 250px;
    height: 350px;
    position: relative;
  }

  .card .content {
    position: absolute;
    z-index: 1;
  }

  .card .content h4 {
    margin-bottom: 2px;
  }

  .card .content a {
    color: #aaa;
    margin: 0;
  }

  .card .content .art {
    width: 250px;
    height: auto;
    transition: transform 0.2s ease;
  }

  .card:hover .content .art {
    transform: rotateX(-10deg) scale(1.05);
  }

  .card.playing .content .art {
    animation: playingBounce 2s ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .card:hover .background {
    transform: translateY(5px) scale(1.05);
    opacity: 0.4;
  }

  .card .background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 250px;
    object-fit: cover;
    filter: blur(5px);
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 1;
  }
  
  .nav_arrow {
    position: absolute;
    width: 40px;
    opacity: 0.6;
    cursor: pointer;
  }
  
  .nav_arrow:hover {
    opacity: 1;
  }

  .play_button {
    position: absolute;
    top: 200px;
    left: 2%;
    background-color: #555555aa;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    cursor: pointer;
    padding-top: 2px;
    transition: transform 0.2s ease
  }

  .heart_button {
    position: absolute;
    top: 200px;
    left: 22%;
    background-color: #555555aa;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    cursor: pointer;
    padding-top: 5px;
    transition: transform 0.2s ease, color 0.2s ease
  }

  .heart_button.saved {
    color: #c84a4a;
  }

  .heart_button.saved:hover {
    color: white;
  }

  .play_button:hover {
    transform: scale(1.1);
  }

  .heart_button:hover {
    transform: scale(1.1);
    color: #c84a4a;
  }
  
  @keyframes playingBounce {
    0% {
      transform: rotateX(-10deg) scale(1) rotateZ(0deg)
    }
    25% {
      transform: rotateX(-10deg) scale(1.03) rotateZ(2deg);
    }
    50% {
      transform: rotateX(-10deg) scale(1) rotateZ(0deg)
    }
    75% {
      transform: rotateX(-10deg) scale(1.03) rotateZ(-2deg);
    }
    100% {
      transform: rotateX(-10deg) scale(1) rotateZ(0deg)
    }
  }