@import './styles/navigation.css';
@import './styles/slideshow.css';
@import './styles/inputs.css';
@import './styles/grids.css';
@import './styles/player.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #171717;
    color: white;
}

.top_chart {
  margin: 10px auto;
  width: 90%;
}